$black-color: #000000;
$white-color: #ffffff;

$header-color: rgb(46, 44, 44);
$section-color: #ada9a9;
$hover-color: #805252;
$text-color: #633030;
$form-fondo: rgba(0, 0, 0, 0.2);

$fondo-color: rgba(0, 0, 0, 0.5);
$fondo-color-2: rgba(0, 0, 0, 0.8);
$fondo-color-3: rgba(0, 0, 0, 0.9);