body{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Bebas Neue', cursive;
    background-color: #a09696;
}
/*header*/
header{
    background-color: #083a4e;
    border: 5px solid #000000;
    width: 100%;
    height: 50px;
}
.list1{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.list1 li a{
    color: #000000;
    font-family: Globin One;
    font-size: 30px;
    font-weight: 20px;
    text-decoration: none;
}
.list1 li a:hover{
    color: #ffffff;
}

/*index.html*/
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 400px;
    font-size: 35px;
}
.container1 div{
    text-align: center;
}

.container1 div h1{
 margin-top: 40px;
}
.container1 div h2{
    color: #0a4861;
}


.container1 div img{
   width: 120px;
}

div.datos{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    height: 250px;
    justify-content: space-evenly;
    align-content: space-around;
}

/*educacion.html*/
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 20px; 
    height: 100%;
}
.container2 div{
    padding: 20px;
    text-align: center;
}

.container2 div h2{
    color: #0a4861;
}

/*experiencia.html*/
.container3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 35px;
    margin: 15px;
    height: 100%;
}
.container3 div {
    margin-top: 70px;
}
.container3 div h2{
    color:  #0a4861;
}
.container3 ul{
    margin-top: 50px;
    list-style: none;
}

/*aptitudes.html*/
.container4{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
    font-size: 40px;
    height: 100%;
}
.container4 div h3{
    color:  #0a4861;
}

/*footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 5px;
    font-size: 30px;
    background-color:hsl(0, 0%, 0%); 
    border: #0a4861 solid 5px;
}
footer h2{
    font-size: 30px;
    color: #0a4861;
}
footer div{
    text-align: center;
}
footer ul li{
    display: inline-block;
    list-style:none;
}
footer ul li a{
    color: #0a4861;
    margin-left: 50px;
    text-decoration: none;
}
footer ul li a:hover{
    color: #ffffff;
}


