* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

* img {
  width: 100%;
  height: auto; }

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: #7c7c7c; }

h1 {
  font-size: 32px;
  position: relative;
  right: 0.5rem; }

h2 {
  font-size: 25px; }

i {
  color: black;
  font-size: 25px; }
  i:hover {
    color: #ffffff; }

a {
  color: black; }
  a:hover {
    color: #ffffff; }

.grid-container > * {
  padding: 10px;
  font-size: 2rem;
  background: #7c7c7c;
  border: black solid 2px; }

.grid-container {
  display: grid;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "header" "nav" "article" "footer"; }
  .grid-container header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3b5b86; }
    .grid-container header .social {
      display: flex;
      flex-direction: column; }
  .grid-container nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3b5b75; }
    .grid-container nav a {
      color: black;
      font-size: 0px; }
  .grid-container article {
    grid-area: article;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px; }
    .grid-container article div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
  .grid-container footer {
    grid-area: footer;
    background: rgba(0, 0, 0, 0.5); }

@media (min-width: 600px) {
  .grid-container {
    grid-template-areas: "header header header" "nav article article" "nav article article" "nav article article" "footer footer footer" "footer footer footer"; }
    .grid-container header .social {
      width: 40%;
      flex-direction: row;
      justify-content: space-evenly; }
    .grid-container nav {
      flex-direction: column; }
    .grid-container article div {
      justify-content: center;
      padding: 20px; } }

@media (min-width: 1024px) {
  .grid-container {
    grid-template-areas: "header header header" "nav article article" "nav article article" "nav article article" "footer footer footer"; }
    .grid-container header h1 {
      font-size: 40px;
      position: relative;
      right: 3rem; }
    .grid-container header h2 {
      font-size: 35px; }
    .grid-container header .social {
      width: 40%;
      flex-direction: row;
      justify-content: space-evenly; }
      .grid-container header .social i {
        font-size: 40px;
        border: 5px solid black; }
    .grid-container nav {
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; }
      .grid-container nav a {
        font-size: 30px; }
        .grid-container nav a:hover {
          color: white; }
    .grid-container article div {
      font-size: 25px;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px; }
    .grid-container footer {
      font-size: 25px; } }
