* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif; }

body {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/container.png);
  background-position: center;
  background-blend-mode: soft-light;
  font-family: Georgia, 'Times New Roman', Times, serif; }

section {
  margin: 2em;
  padding: 1rem;
  background: #ada9a9;
  border: 3px solid #000000; }

* img {
  max-width: 100%;
  max-height: 100%; }

* i {
  max-width: 100%;
  max-height: 100%; }

li {
  list-style: none; }

.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column; }
  .container header {
    height: 25rem;
    display: flex;
    flex-direction: column;
    background-image: url(../img/main.png);
    background-color: #2e2c2c;
    background-blend-mode: soft-light;
    background-position: center;
    border-bottom: 2px solid #ffffff; }
    .container header .menu {
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 2px solid rgba(240, 238, 238, 0.9); }
      @media all and (max-width: 1000px) {
        .container header .menu {
          background-color: rgba(0, 0, 0, 0.7); } }
      .container header .menu .logo {
        flex-grow: 1;
        text-align: center;
        width: 180px;
        height: 180px; }
        @media all and (max-width: 1200px) {
          .container header .menu .logo {
            height: 150px;
            width: 150px; } }
        @media all and (max-width: 1000px) {
          .container header .menu .logo {
            justify-content: space-between;
            flex-grow: 0;
            height: 180px;
            width: 180px; } }
        @media all and (max-width: 600px) {
          .container header .menu .logo {
            width: 130px;
            height: 130px; } }
        @media all and (max-width: 450px) {
          .container header .menu .logo {
            width: 110px;
            position: relative;
            right: 2rem;
            top: 1rem; } }
      .container header .menu .btn-nav {
        display: none;
        color: #e0d5ca;
        font-size: 3rem;
        cursor: pointer;
        width: max-content; }
        @media all and (max-width: 1000px) {
          .container header .menu .btn-nav {
            display: inline-flex; } }
      .container header .menu .buy-cart {
        position: relative;
        right: 50px;
        color: #e0d5ca;
        cursor: pointer;
        font-size: 3rem;
        width: max-content; }
        .container header .menu .buy-cart:hover {
          color: #633030; }
        @media all and (max-width: 1200px) {
          .container header .menu .buy-cart {
            font-size: 2.5rem; } }
        @media all and (max-width: 1000px) {
          .container header .menu .buy-cart {
            font-size: 3rem; } }
        @media all and (max-width: 600px) {
          .container header .menu .buy-cart {
            position: relative;
            right: 2rem;
            top: 0.5rem; } }
        @media all and (max-width: 450px) {
          .container header .menu .buy-cart {
            font-size: 2.5rem; } }
      .container header .menu .navbar {
        flex-grow: 20;
        display: flex;
        justify-content: space-evenly; }
        @media all and (max-width: 1000px) {
          .container header .menu .navbar {
            position: fixed;
            width: 100vw;
            height: calc(100% -  10rem);
            top: 21.5vh;
            text-align: center;
            transition: all .4s;
            flex-direction: column;
            background-color: #000000; } }
        @media all and (max-width: 600px) {
          .container header .menu .navbar {
            top: 15.5vh; } }
        .container header .menu .navbar div .a-nav {
          position: relative;
          color: #ffffff;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 500; }
          @media all and (max-width: 1200px) {
            .container header .menu .navbar div .a-nav {
              font-size: 1.2rem; } }
          .container header .menu .navbar div .a-nav::after {
            content: "";
            position: absolute;
            background-color: #ffffff;
            height: .2rem;
            width: 0;
            left: 0;
            bottom: 0; }
          .container header .menu .navbar div .a-nav:hover::after {
            width: 100%;
            transition: .5s ease-in-out; }
        .container header .menu .navbar .login .buttom-sesion {
          color: #ffffff;
          font-size: 1.5rem;
          text-decoration: none;
          border-radius: 1.5rem;
          border: 2px solid #ffffff;
          padding: 1rem 1rem; }
          .container header .menu .navbar .login .buttom-sesion:hover {
            background-color: #633030; }
          @media all and (max-width: 1200px) {
            .container header .menu .navbar .login .buttom-sesion {
              font-size: 1.2rem; } }
      .container header .menu nav.show {
        top: -100rem; }
    .container header .titulo {
      display: flex;
      height: 12rem;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem; }
      @media all and (max-width: 450px) {
        .container header .titulo {
          font-size: 1rem; } }
      .container header .titulo h1 {
        padding: 2rem;
        color: #000000;
        border: solid 5px #633030;
        border-radius: 50%;
        box-shadow: 0 5px 5px black;
        background-color: rgba(221, 216, 216, 0.9); }

@media all and (max-width: 600px) {
  .section-historia {
    margin: 0; } }

.section-historia h2 {
  border-bottom: 1px solid #000000;
  color: #633030;
  font-size: 2rem; }
  @media all and (min-width: 1800px) {
    .section-historia h2 {
      font-size: 3rem; } }

.section-historia h3 {
  text-align: center;
  margin-top: 0.5rem;
  color: #633030;
  font-size: 2rem; }
  @media all and (min-width: 1800px) {
    .section-historia h3 {
      font-size: 3rem; } }

.section-historia .historia-multimedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem; }
  @media all and (max-width: 800px) {
    .section-historia .historia-multimedia {
      flex-direction: column; } }
  .section-historia .historia-multimedia .historia-foto {
    flex: 0 0 1;
    width: 400px;
    height: auto; }
    @media all and (min-width: 1800px) {
      .section-historia .historia-multimedia .historia-foto {
        width: 500px; } }
    @media all and (max-width: 800px) {
      .section-historia .historia-multimedia .historia-foto {
        width: 350px; } }
    @media all and (max-width: 450px) {
      .section-historia .historia-multimedia .historia-foto {
        width: 300px; } }
    .section-historia .historia-multimedia .historia-foto img {
      border-radius: 20%;
      border: 2px solid #000000;
      box-shadow: 0 5px 5px black; }
  .section-historia .historia-multimedia .historia-parrafo {
    width: 30rem;
    text-align: center;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
    padding: 1rem; }
    @media all and (min-width: 1800px) {
      .section-historia .historia-multimedia .historia-parrafo {
        width: 60rem;
        font-size: 1.5rem; } }
    @media all and (min-width: 1300px) {
      .section-historia .historia-multimedia .historia-parrafo {
        font-size: 1.3rem;
        margin-top: 1rem;
        padding: 0.5rem; } }
    @media all and (max-width: 800px) {
      .section-historia .historia-multimedia .historia-parrafo {
        font-size: 1.3rem;
        margin-top: 1rem;
        padding: 0.5rem; } }
    @media all and (max-width: 600px) {
      .section-historia .historia-multimedia .historia-parrafo {
        font-size: 1rem;
        width: 20rem;
        padding: 0.5rem;
        margin-top: 1rem; } }

@media all and (max-width: 600px) {
  .section-catalogo {
    margin: 0; } }

.section-catalogo h2 {
  border-bottom: 1px solid #000000;
  color: #633030;
  font-size: 2rem;
  margin-bottom: 2rem; }
  @media all and (min-width: 1800px) {
    .section-catalogo h2 {
      font-size: 3rem; } }

.section-catalogo .catalogo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto; }
  .section-catalogo .catalogo-container .image-box {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 1rem;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 10%; }
    @media all and (max-width: 2300px) {
      .section-catalogo .catalogo-container .image-box {
        width: 420px; } }
    @media all and (max-width: 1500px) {
      .section-catalogo .catalogo-container .image-box {
        width: 250px; } }
    @media all and (max-width: 600px) {
      .section-catalogo .catalogo-container .image-box {
        width: 220px;
        height: 220px; } }
    .section-catalogo .catalogo-container .image-box:hover {
      border: 4px solid #ffffff; }
    .section-catalogo .catalogo-container .image-box:hover .capa {
      transform: scale(1); }
    .section-catalogo .catalogo-container .image-box img {
      width: 100%;
      height: 100%; }
    .section-catalogo .catalogo-container .image-box .capa {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      transform: scale(0);
      transition: .3s ease; }
      .section-catalogo .catalogo-container .image-box .capa h3 {
        font-size: 30px; }
      .section-catalogo .catalogo-container .image-box .capa span {
        font-size: 20px; }
      .section-catalogo .catalogo-container .image-box .capa a {
        color: #ffffff;
        margin-top: 1rem;
        border: 2px solid #ffffff;
        border-radius: 10%;
        text-decoration: none;
        padding: 0.5rem; }
        .section-catalogo .catalogo-container .image-box .capa a:hover {
          background-color: #805252; }

@media all and (max-width: 600px) {
  .section-contacto {
    margin: 0; } }

.section-contacto h2 {
  color: #633030;
  border-bottom: 1px solid #000000;
  font-size: 2rem; }
  @media all and (min-width: 1800px) {
    .section-contacto h2 {
      font-size: 3rem; } }

.section-contacto h3 {
  color: #633030;
  text-align: center;
  font-size: 2rem;
  margin-top: 0.5rem; }
  @media all and (min-width: 1800px) {
    .section-contacto h3 {
      font-size: 3rem; } }

.section-contacto .container-contact {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .section-contacto .container-contact .datos {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem; }
    @media all and (min-width: 1800px) {
      .section-contacto .container-contact .datos {
        font-size: 2rem; } }
    @media all and (max-width: 600px) {
      .section-contacto .container-contact .datos {
        position: relative;
        bottom: 1.5rem; } }
    .section-contacto .container-contact .datos i {
      margin: 1rem; }
  .section-contacto .container-contact .form-data {
    text-align: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000000;
    border-radius: 20%; }
    @media all and (max-width: 1800px) {
      .section-contacto .container-contact .form-data {
        width: 30rem; } }
    @media all and (max-width: 800px) {
      .section-contacto .container-contact .form-data {
        padding: 1rem; } }
    .section-contacto .container-contact .form-data h4 {
      text-align: center;
      margin-bottom: 2rem;
      color: #633030;
      border-bottom: 1px solid #000000;
      font-size: 2rem; }
      @media all and (max-width: 800px) {
        .section-contacto .container-contact .form-data h4 {
          font-size: 1.5rem; } }
    .section-contacto .container-contact .form-data ul {
      margin-bottom: 1rem; }
      .section-contacto .container-contact .form-data ul li label {
        font-size: 1.3rem;
        font-weight: 600; }
        @media all and (max-width: 800px) {
          .section-contacto .container-contact .form-data ul li label {
            font-size: 1.1rem; } }
      .section-contacto .container-contact .form-data ul li input {
        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        border-bottom: 1px solid #000000;
        height: 2rem;
        width: 15rem; }
        .section-contacto .container-contact .form-data ul li input:hover {
          background-color: rgba(221, 216, 216, 0.9);
          font-weight: 700;
          border: 1px solid #000000; }
        @media all and (min-width: 600px) {
          .section-contacto .container-contact .form-data ul li input {
            width: 20rem; } }
      .section-contacto .container-contact .form-data ul li textarea {
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid #000000; }
        .section-contacto .container-contact .form-data ul li textarea:hover {
          background-color: rgba(221, 216, 216, 0.9);
          font-weight: 700; }
    .section-contacto .container-contact .form-data .boton {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 20%;
      border: 1px solid #000000;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem; }
      .section-contacto .container-contact .form-data .boton:hover {
        font-size: 1;
        background-color: #805252; }

footer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ffffff; }
  footer .redes {
    color: #ffffff;
    text-align: center; }
    @media all and (max-width: 600px) {
      footer .redes {
        width: 200px; } }
    footer .redes h4 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem; }
      @media all and (max-width: 600px) {
        footer .redes h4 {
          font-size: 1rem; } }
    footer .redes a {
      color: #ffffff;
      text-decoration: none;
      padding: 2px; }
      footer .redes a .icon-facebook:hover {
        background-color: #3b5998; }
      footer .redes a .icon-instagram:hover {
        background-color: #dd2a7b; }
      footer .redes a i {
        font-size: 2rem;
        margin: 1rem;
        padding: 0.2rem;
        border: 2px solid #ffffff;
        border-radius: 20%; }
        @media all and (max-width: 600px) {
          footer .redes a i {
            font-size: 1.5rem;
            border: none; } }
  footer .logo {
    height: 180px;
    width: 180px; }
    @media all and (max-width: 600px) {
      footer .logo {
        position: relative;
        left: 0.3rem;
        top: 2rem; } }
    footer .logo a {
      height: 100%;
      width: 100%; }
  footer .info {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem; }
    @media all and (max-width: 800px) {
      footer .info {
        position: relative;
        left: 1rem;
        font-size: 0.8rem; } }
