@import'src/variables/colors';

@mixin resetStyle {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    * img{
        width: 100%;
        height: auto;
    }
   
    
    body{
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        background: $body-background;
    }
    
}

@mixin imageSize($width, $height) {
    width: $width;
    height: $height;
}

@mixin fontSize {
    h1{
        font-size: 30px;
        position: relative;
    }
    h2{
        font-size: 25px;
    }
    i{
        color: black;
        font-size: 25px;
        &:hover{
            color: #ffffff;
        }
    }
    a{
        color: black;
        &:hover{
            color: #ffffff;
        }
    }
}

@mixin fonFamily {
    font-family: 'Bebas Neue', cursive;
    
}
